<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Here is your conversion:</h1>

    <p>The result is {{symbol}} {{results}}</p>
    This is returning an accurate amount, but can't figure out how to show the exact result rather than response bytes


    <script src="/static/forex.js"></script>
</body>
</html>





<!-- Check that:
conversion input is valid
conversion out is valid
Amount is  valid



-->  