<form action="/conversionoutput">
    <p><label for  = "conversion_input"> Converting From: </label>
    <input type = "text" placeholder = "Starting Currency" name = "conversion_input"></p>
    <p>
    <label for  = "conversion_output"> Converting To: </label>
    <input type = "text" placeholder = "Desired Currency" name = "conversion_output"></p>
    <p>
        <label for  = "Amount"> Amount: </label>
        <input type = "text" placeholder = "Amount" name = "amount"></p>
    <button>Convert</button>

</form>